h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background: -webkit-linear-gradient(left, red , yellow);
   background: -o-linear-gradient(right, red, yellow);
   background: -moz-linear-gradient(right, red, yellow);
   background: linear-gradient(to right, red , yellow); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}

.container{
    margin-top: 5%;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 80px 200px;
    gap: 10px;
    padding: 10px;
    display:inline;
}

.center{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 3px;
}

.icons{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    display:inline-block;
    vertical-align: top;
}

.column{
  display: inline-block;
  padding: 3px;
}

.user-button{
    background-color: red;
}

.user-button:hover{
    background-color:yellow;
}

.calc-button{
    background-color:yellow;
}

.user-button:focus{
    background-color:lightgreen;
}

img{
    width: 400px;
    height: 400px;
}

.value{
    text-align: center;
    -webkit-text-fill-color: transparent;
    font-size: 0px;
}

#user-score, #calc-score{
    display: none;
  padding: 2%;
  text-align: center;
  font-size: 25px;
 
}
#win-icon, #lose-icon, #tie-icon{
    display:none;
    width: 200px;
    height: 200px;
}

#next-round{
    display:none;
    width:300px;
    height: 100px;
    font-size: 30px;
    margin-left: 59.5%;
    background-image: linear-gradient(to right, red , yellow);
}

#start-game{
    width:300px;
    height: 100px;
    font-size: 50px;
    margin-right: 59.5%;
    background-image: linear-gradient(to right, red , yellow);
}

#game-stats{
    font-size: 25px;
}